{% extends 'layout.html' %}

{% block content %}
    <br>
    <div id="main">
        <h2>Leave a Message</h2>
        <label for="txtname">Name:</label>
        <input class="form-control" type = "text" id = "txtname">
        <br>
        <label for="txtemail">Email:</label>
        <input class="form-control" type = "text" id = "txtemail">
        <br>
        <label for="txtmsg">Message:</label>
        <textarea class="form-control" id="txtmsg" rows="5"></textarea>
    </div>
    <br><br>
    <div id="login">
        <a href="{{url_for('login')}}">Login<a>
    </div>
{% endblock content %}
