header {
	display: flex;
	height: 10vh;
	background-color: palegreen;
	align-items: center;
	justify-content: center;
}

main {
	height: 80vh;
}

footer {
	display: flex;
	height: 10vh;
	background-color: lightgreen;
	align-items: center;
	justify-content: center;
}