{% extends 'layout.html' %}

{% block content %}
<br>
<div class="container">
	<form method="POST">
		<label for="uname">Username</label>
		<input id="uname" class="form-control" type="text" name="uname">
		<br>
		<label for="upwd">Password</label>
		<input id="upwd" class="form-control" type="password" name="upwd">
		<br>
		<input class="btn btn-primary" type="submit" name="submit" value="Login">
	</form>
	<br><br>
	<p>Don't have an account <a href="{{url_for('signup')}}">Sign Up!</a></p>
</div>
{% endblock content %}
